In [35]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("./Resources/pokemon_data.csv")
df

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,80,110,120,130,90,70,6,True

In [3]:
df.columns

Index(['#', 'Name', 'Type 1', 'Type 2', 'HP', 'Attack', 'Defense', 'Sp. Atk',
       'Sp. Def', 'Speed', 'Generation', 'Legendary'],
      dtype='object')

In [4]:
df.describe()

,#,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation
count,800.000000,800.000000,800.000000,800.000000,800.000000,800.000000,800.000000,800.00000
mean,362.813750,69.258750,79.001250,73.842500,72.820000,71.902500,68.277500,3.32375
std,208.343798,25.534669,32.457366,31.183501,32.722294,27.828916,29.060474,1.66129
min,1.000000,1.000000,5.000000,5.000000,10.000000,20.000000,5.000000,1.00000
25%,184.750000,50.000000,55.000000,50.000000,49.750000,50.000000,45.000000,2.00000
50%,364.500000,65.000000,75.000000,70.000000,65.000000,70.000000,65.000000,3.00000
75%,539.250000,80.000000,100.000000,90.000000,95.000000,90.000000,90.000000,5.00000
max,721.000000,255.000000,190.000000,230.000000,194.000000,230.000000,180.000000,6.00000

In [5]:
names = df["Name"]
names.head()

0                Bulbasaur
1                  Ivysaur
2                 Venusaur
3    VenusaurMega Venusaur
4               Charmander
Name: Name, dtype: object

In [6]:
above_790 = df[790:]
above_790

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
790,714,Noibat,Flying,Dragon,40,30,35,45,40,55,6,False
791,715,Noivern,Flying,Dragon,85,70,80,97,80,123,6,False
792,716,Xerneas,Fairy,NaN,126,131,95,131,98,99,6,True
793,717,Yveltal,Dark,Flying,126,131,95,131,98,99,6,True
794,718,Zygarde50% Forme,Dragon,Ground,108,100,121,81,95,95,6,True
795,719,Diancie,Rock,Fairy,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,80,110,120,130,90,70,6,True

In [7]:
below_20 = df[:20]
below_20

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False
5,5,Charmeleon,Fire,NaN,58,64,58,80,65,80,1,False
6,6,Charizard,Fire,Flying,78,84,78,109,85,100,1,False
7,6,CharizardMega Charizard X,Fire,Dragon,78,130,111,130,85,100,1,False
8,6,CharizardMega Charizard Y,Fire,Flying,78,104,78,159,115,100,1,False
9,7,Squirtle,Water,NaN,44,48,65,50,64,43,1,False
10,8,Wartortle,Water,NaN,59,63,80,65,80,58,1,False
11,9,Blastoise,Water,NaN,79,83,100,85,105,78,1,False
12,9,BlastoiseMega Blastoise,Water,NaN,79,103,120,135,115,78,1,False
13,10,Caterpie,Bug,NaN,45,30,35,20,20,45,1,False
14,11,Metapod,Bug,NaN,50,20,55,25,25,30,1,False
15,12,Butterfree,Bug,Flying,60,45,50,90,80,70,1,False
16,13,Weedle,Bug,Poison,40,35,30,20,20,50,1,False
17,14,Kakuna,Bug,Poison,45,25,50,25,25,35,1,False
18,15,Beedrill,Bug,Poison,65,90,40,45,80,75,1,False
19,15,BeedrillMega Beedrill,Bug,Poison,65,150,40,15,80,145,1,False

In [8]:
from_1_to_9 = df[1:9]
from_1_to_9

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False
5,5,Charmeleon,Fire,NaN,58,64,58,80,65,80,1,False
6,6,Charizard,Fire,Flying,78,84,78,109,85,100,1,False
7,6,CharizardMega Charizard X,Fire,Dragon,78,130,111,130,85,100,1,False
8,6,CharizardMega Charizard Y,Fire,Flying,78,104,78,159,115,100,1,False

In [9]:
df.iloc[6]

#                     6
Name          Charizard
Type 1             Fire
Type 2           Flying
HP                   78
Attack               84
Defense              78
Sp. Atk             109
Sp. Def              85
Speed               100
Generation            1
Legendary         False
Name: 6, dtype: object

In [10]:
for index, row in df.iterrows():
    if(index < 5):
        print(index, row)

0 #                     1
Name          Bulbasaur
Type 1            Grass
Type 2           Poison
HP                   45
Attack               49
Defense              49
Sp. Atk              65
Sp. Def              65
Speed                45
Generation            1
Legendary         False
Name: 0, dtype: object
1 #                   2
Name          Ivysaur
Type 1          Grass
Type 2         Poison
HP                 60
Attack             62
Defense            63
Sp. Atk            80
Sp. Def            80
Speed              60
Generation          1
Legendary       False
Name: 1, dtype: object
2 #                    3
Name          Venusaur
Type 1           Grass
Type 2          Poison
HP                  80
Attack              82
Defense             83
Sp. Atk            100
Sp. Def            100
Speed               80
Generation           1
Legendary        False
Name: 2, dtype: object
3 #                                 3
Name          VenusaurMega Venusaur
Type 1                        Grass
Type 2                       Poison
HP                               80
Attack                          100
Defense                         123
Sp. Atk                         122
Sp. Def                         120
Speed                            80
Generation                        1
Legendary                     False
Name: 3, dtype: object
4 #                      4
Name          Charmander
Type 1              Fire
Type 2               NaN
HP                    39
Attack                52
Defense               43
Sp. Atk               60
Sp. Def               50
Speed                 65
Generation             1
Legendary          False
Name: 4, dtype: object

In [11]:
grass_type = df.loc[df["Type 1"] == "Grass"]
grass_type

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
48,43,Oddish,Grass,Poison,45,50,55,75,65,30,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...
718,650,Chespin,Grass,NaN,56,61,65,48,45,38,6,False
719,651,Quilladin,Grass,NaN,61,78,95,56,58,57,6,False
720,652,Chesnaught,Grass,Fighting,88,107,122,74,75,64,6,False
740,672,Skiddo,Grass,NaN,66,65,48,62,57,52,6,False
741,673,Gogoat,Grass,NaN,123,100,62,97,81,68,6,False

In [12]:
gap = df.loc[(df["Type 1"] == "Grass") & (df["Type 2"]=="Poison") & (df["Attack"] < 80)]
# gap

In [13]:
# gap.sort_values("Name")
gap.sort_values("Name", ascending=False)

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
452,407,Roserade,Grass,Poison,60,70,65,125,105,90,4,False
344,315,Roselia,Grass,Poison,50,60,45,100,80,65,3,False
48,43,Oddish,Grass,Poison,45,50,55,75,65,30,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
49,44,Gloom,Grass,Poison,60,65,70,85,75,40,1,False
651,590,Foongus,Grass,Poison,69,55,45,55,55,15,5,False
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
451,406,Budew,Grass,Poison,40,30,35,50,70,55,4,False
75,69,Bellsprout,Grass,Poison,50,75,35,70,30,40,1,False

In [14]:
gap.sort_values(["Attack", "Speed"])

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
451,406,Budew,Grass,Poison,40,30,35,50,70,55,4,False
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
48,43,Oddish,Grass,Poison,45,50,55,75,65,30,1,False
651,590,Foongus,Grass,Poison,69,55,45,55,55,15,5,False
344,315,Roselia,Grass,Poison,50,60,45,100,80,65,3,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
49,44,Gloom,Grass,Poison,60,65,70,85,75,40,1,False
452,407,Roserade,Grass,Poison,60,70,65,125,105,90,4,False
75,69,Bellsprout,Grass,Poison,50,75,35,70,30,40,1,False

In [15]:
gap.sort_values(["Attack", "Speed"], ascending=[0,1])

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
75,69,Bellsprout,Grass,Poison,50,75,35,70,30,40,1,False
452,407,Roserade,Grass,Poison,60,70,65,125,105,90,4,False
49,44,Gloom,Grass,Poison,60,65,70,85,75,40,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
344,315,Roselia,Grass,Poison,50,60,45,100,80,65,3,False
651,590,Foongus,Grass,Poison,69,55,45,55,55,15,5,False
48,43,Oddish,Grass,Poison,45,50,55,75,65,30,1,False
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
451,406,Budew,Grass,Poison,40,30,35,50,70,55,4,False

In [16]:
df["Total"] = df["HP"] + df["Attack"] + df["Defense"]+ df["Sp. Atk"]+df["Sp. Def"]+df["Speed"]
df.head()

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False,318
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False,405
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False,525
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False,625
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False,309

In [17]:
df.drop(columns=["Total"])

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,80,110,120,130,90,70,6,True

In [18]:
df["Total"] = df.iloc[:,4:10].sum(axis=1)
df

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False,318
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False,405
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False,525
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False,625
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False,309
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,50,100,150,100,150,50,6,True,600
796,719,DiancieMega Diancie,Rock,Fairy,50,160,110,160,110,110,6,True,700
797,720,HoopaHoopa Confined,Psychic,Ghost,80,110,60,150,130,70,6,True,600
798,720,HoopaHoopa Unbound,Psychic,Dark,80,160,60,170,130,80,6,True,680
799,721,Volcanion,Fire,Water,80,110,120,130,90,70,6,True,600

In [19]:
gap.reset_index()

,index,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,48,43,Oddish,Grass,Poison,45,50,55,75,65,30,1,False
3,49,44,Gloom,Grass,Poison,60,65,70,85,75,40,1,False
4,75,69,Bellsprout,Grass,Poison,50,75,35,70,30,40,1,False
5,344,315,Roselia,Grass,Poison,50,60,45,100,80,65,3,False
6,451,406,Budew,Grass,Poison,40,30,35,50,70,55,4,False
7,452,407,Roserade,Grass,Poison,60,70,65,125,105,90,4,False
8,651,590,Foongus,Grass,Poison,69,55,45,55,55,15,5,False

In [20]:
gap.reset_index(drop=True)

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,43,Oddish,Grass,Poison,45,50,55,75,65,30,1,False
3,44,Gloom,Grass,Poison,60,65,70,85,75,40,1,False
4,69,Bellsprout,Grass,Poison,50,75,35,70,30,40,1,False
5,315,Roselia,Grass,Poison,50,60,45,100,80,65,3,False
6,406,Budew,Grass,Poison,40,30,35,50,70,55,4,False
7,407,Roserade,Grass,Poison,60,70,65,125,105,90,4,False
8,590,Foongus,Grass,Poison,69,55,45,55,55,15,5,False

In [21]:
df.loc[df["Name"].str.contains("Mega")].head()

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False,625
7,6,CharizardMega Charizard X,Fire,Dragon,78,130,111,130,85,100,1,False,634
8,6,CharizardMega Charizard Y,Fire,Flying,78,104,78,159,115,100,1,False,634
12,9,BlastoiseMega Blastoise,Water,NaN,79,103,120,135,115,78,1,False,630
19,15,BeedrillMega Beedrill,Bug,Poison,65,150,40,15,80,145,1,False,495

In [22]:
df.loc[~df["Name"].str.contains("Mega")].head()

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False,318
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False,405
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False,525
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False,309
5,5,Charmeleon,Fire,NaN,58,64,58,80,65,80,1,False,405

In [23]:
import re

In [24]:
df.loc[df["Type 1"].str.contains("FIRE", flags=re.I, regex=True)].head()

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False,309
5,5,Charmeleon,Fire,NaN,58,64,58,80,65,80,1,False,405
6,6,Charizard,Fire,Flying,78,84,78,109,85,100,1,False,534
7,6,CharizardMega Charizard X,Fire,Dragon,78,130,111,130,85,100,1,False,634
8,6,CharizardMega Charizard Y,Fire,Flying,78,104,78,159,115,100,1,False,634

In [25]:
df.loc[df["Name"].str.contains("^pi[a-z]*",flags=re.I, regex=True)].head()

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total
20,16,Pidgey,Normal,Flying,40,45,40,35,35,56,1,False,251
21,17,Pidgeotto,Normal,Flying,63,60,55,50,50,71,1,False,349
22,18,Pidgeot,Normal,Flying,83,80,75,70,70,101,1,False,479
23,18,PidgeotMega Pidgeot,Normal,Flying,83,80,80,135,80,121,1,False,579
30,25,Pikachu,Electric,NaN,35,55,40,50,50,90,1,False,320

In [26]:
# df.loc[df["Type 1"] =="Grass", "Type 1"] = "Cow"
# cow_types=df.copy()
# cow_types

In [27]:
# cow_types.to_csv("./Resources/cow_mod.csv", index=False)

In [28]:
# df.dropna(subset=["Type 2"], inplace=True) #NaN = not a number
# df

In [29]:
gap

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
48,43,Oddish,Grass,Poison,45,50,55,75,65,30,1,False
49,44,Gloom,Grass,Poison,60,65,70,85,75,40,1,False
75,69,Bellsprout,Grass,Poison,50,75,35,70,30,40,1,False
344,315,Roselia,Grass,Poison,50,60,45,100,80,65,3,False
451,406,Budew,Grass,Poison,40,30,35,50,70,55,4,False
452,407,Roserade,Grass,Poison,60,70,65,125,105,90,4,False
651,590,Foongus,Grass,Poison,69,55,45,55,55,15,5,False

In [30]:
faf = df.loc[(df["Type 1"] == "Fire") & (df["Type 2"]=="Flying")]
faf

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total
6,6,Charizard,Fire,Flying,78,84,78,109,85,100,1,False,534
8,6,CharizardMega Charizard Y,Fire,Flying,78,104,78,159,115,100,1,False,634
158,146,Moltres,Fire,Flying,90,100,90,125,85,90,1,True,580
270,250,Ho-oh,Fire,Flying,106,130,90,110,154,90,2,True,680
730,662,Fletchinder,Fire,Flying,62,73,55,56,52,84,6,False,382
731,663,Talonflame,Fire,Flying,78,81,71,74,69,126,6,False,499

In [38]:
fire_grass = faf.append(gap,sort=False)

In [43]:
fire_grass["IsStrong"] = np.where(fire_grass["Attack"]>=75, True, False) 
#if attack higher than 75 print true if not print false
fire_grass

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total,IsStrong
6,6,Charizard,Fire,Flying,78,84,78,109,85,100,1,False,534.0,True
8,6,CharizardMega Charizard Y,Fire,Flying,78,104,78,159,115,100,1,False,634.0,True
158,146,Moltres,Fire,Flying,90,100,90,125,85,90,1,True,580.0,True
270,250,Ho-oh,Fire,Flying,106,130,90,110,154,90,2,True,680.0,True
730,662,Fletchinder,Fire,Flying,62,73,55,56,52,84,6,False,382.0,False
731,663,Talonflame,Fire,Flying,78,81,71,74,69,126,6,False,499.0,True
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False,NaN,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False,NaN,False
48,43,Oddish,Grass,Poison,45,50,55,75,65,30,1,False,NaN,False
49,44,Gloom,Grass,Poison,60,65,70,85,75,40,1,False,NaN,False
75,69,Bellsprout,Grass,Poison,50,75,35,70,30,40,1,False,NaN,True
344,315,Roselia,Grass,Poison,50,60,45,100,80,65,3,False,NaN,False
451,406,Budew,Grass,Poison,40,30,35,50,70,55,4,False,NaN,False
452,407,Roserade,Grass,Poison,60,70,65,125,105,90,4,False,NaN,False
651,590,Foongus,Grass,Poison,69,55,45,55,55,15,5,False,NaN,False

In [45]:
faf

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total
6,6,Charizard,Fire,Flying,78,84,78,109,85,100,1,False,534
8,6,CharizardMega Charizard Y,Fire,Flying,78,104,78,159,115,100,1,False,634
158,146,Moltres,Fire,Flying,90,100,90,125,85,90,1,True,580
270,250,Ho-oh,Fire,Flying,106,130,90,110,154,90,2,True,680
730,662,Fletchinder,Fire,Flying,62,73,55,56,52,84,6,False,382
731,663,Talonflame,Fire,Flying,78,81,71,74,69,126,6,False,499

In [44]:
faf_mean = faf.groupby(["Attack"]).mean()
faf_mean

,#,HP,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total
Attack,,,,,,,,,
73,662,62,55,56,52,84,6,False,382
81,663,78,71,74,69,126,6,False,499
84,6,78,78,109,85,100,1,False,534
100,146,90,90,125,85,90,1,True,580
104,6,78,78,159,115,100,1,False,634
130,250,106,90,110,154,90,2,True,680

In [46]:
faf.groupby(level=0).sum()

,#,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total
6,6,78,84,78,109,85,100,1,False,534
8,6,78,104,78,159,115,100,1,False,634
158,146,90,100,90,125,85,90,1,True,580
270,250,106,130,90,110,154,90,2,True,680
730,662,62,73,55,56,52,84,6,False,382
731,663,78,81,71,74,69,126,6,False,499

In [48]:
faf.groupby(["Generation"]).mean()

,#,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Legendary,Total
Generation,,,,,,,,,
1,52.666667,82.0,96.0,82.0,131.0,95.0,96.666667,0.333333,582.666667
2,250.000000,106.0,130.0,90.0,110.0,154.0,90.000000,1.000000,680.000000
6,662.500000,70.0,77.0,63.0,65.0,60.5,105.000000,0.000000,440.500000

In [49]:
faf.groupby(["Legendary"]).mean()

,#,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Total
Legendary,,,,,,,,,
False,334.25,74.0,85.5,70.5,99.5,80.25,102.5,3.5,512.25
True,198.00,98.0,115.0,90.0,117.5,119.50,90.0,1.5,630.00